@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*,
:before,
:after {
	box-sizing: inherit;
}
html {
	overflow-y: scroll;
	box-sizing: border-box;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
}
body {
	opacity: 1 !important;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #4c4c51;
	font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
		sans-serif;
}
body {
	background-color: #1a1a1f;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
.search_icon {
	@apply w-[14px] h-[14px];
}
.search_icon.position {
	@apply absolute top-[30px] left-[50px];
}
.button {
	@apply w-full font-sego xs:w-auto;
}
.azure-head-container {
	@apply border-b h-[4.875rem] md:h-[3.4375rem] lg1:h-[3.375rem] relative bg-white;
}

/* header-main */
.azure-header-main {
	@apply flex items-center h-full mr-[4.0625rem] ml-[4.0625rem];
}
.azure-header-main h2 {
	@apply text-xs font-semibold mb-5;
}
/*mr-[4.0625rem] ml-[4.0625rem]*/

.head-container-mini {
	@apply hidden fixed top-0 opacity-0 w-full transition-all -translate-y-full  z-0 duration-[1000ms] ease-in-out border-b h-[4.875rem] md:h-[3.4375rem] lg1:h-[3.375rem] bg-white;
}
.head-container-mini.active {
	@apply block fixed top-0 opacity-100 w-full translate-y-0 z-10 border-b h-[4.875rem] md:h-[3.4375rem] lg1:h-[3.375rem] bg-white;
}

/*navigation*/
#azure-nav-container {
	@apply flex items-center  h-full w-full justify-between;
}
.azure-nav-l1 {
	@apply flex items-center h-full mr-auto px-3;
}
/*navigation-identity*/
.azure-identity {
	@apply flex items-center;
}
.azure-nav-link-home {
	@apply ml-6 text-lg font-semibold;
}
/*navigation list item*/
.azure-nav-l1_list {
	@apply flex items-center ml-6;
}
.azure-nav-l1_list-item {
	@apply flex items-center leading-none text-[13px] h-[52px];
}
.azure-nav-l1_list-item.active {
	background: #f4f5f6;
}
.azure-nav-l1_list-item > button {
	@apply flex items-center py-4 px-2 hover:underline;
}

.azure-nav-l1_list-item > button > img {
	@apply w-2 h-2 ml-1 mt-[5px] transition;
}

.azure-nav-l1_list-item.active .button-expand {
	@apply block;
}

.azure-nav-l1_list-item.active > button {
	background-color: #f4f5f6;
	border: dashed 1px #000;
}

.azure-nav-l1_list-item.active > button > img {
	@apply rotate-180;
}
/*Dropdown Expand*/
.button-expand {
	@apply absolute top-[53px] left-0 w-[1310px] mr-[4.0625rem] ml-[4.0625rem] bg-[#f4f5f6] hidden;
}
.tablet-button-expand {
	@apply grid grid-cols-2 px-5;
}
.tablet-button-expand-group {
	@apply px-5 py-10;
}
.tablet-button-expand_list {
	@apply grid grid-rows-3 grid-flow-col auto-cols-[minmax(50ch,50%)] gap-x-10 gap-y-5;
}
.tablet-button-expand.price {
	@apply grid grid-cols-3 px-5;
}
.tablet-button-expand.resources {
	@apply grid grid-cols-4 px-5;
}
.tablet-button-expand__list li {
	@apply mt-5;
}
/*Navigation Products tab*/
.products-search-form {
	@apply flex items-start mt-5 ml-10;
}
.navigation-product-view-all {
	@apply mt-2 underline hover:cursor-pointer;
}
.azure-nav-search-form.tab {
	@apply mr-6 mb-0;
}
.azure-nav-search-form__search-field {
	@apply flex flex-col items-start mb-2;
}
.azure-nav-search-form__search-field > input[type="text"] {
	@apply w-[300px] h-8 px-8 py-[5px] rounded border border-black  bg-[#f4f5f6] focus:border-0 focus:outline-black focus:outline-dashed;
}
.button_search_close {
	@apply w-6 h-6 outline-none;
}
.button_search_close.position {
	@apply absolute left-20 mt-[3px] ml-[14.5rem];
}
.result {
	@apply text-xs;
}
.results-display > p {
	@apply mx-5 my-3;
}
.azure-nav-tabs-container {
	@apply flex p-5 h-[622px];
}
.azure-nav-tabs {
	@apply px-5;
}
.azure-nav-tabs__tablist {
	@apply relative inset-y-5 left-5 overflow-y-auto overflow-hidden h-[calc(100%-40px)];
}
.azure-nav-tabs__tablist li {
	@apply w-[220px] h-10 text-sm text-black hover:underline hover:cursor-pointer;
}
.azure-nav-tabs__tablist > li.active {
	@apply focus:outline-black focus:outline-dashed;
}
.azure-nav-tabs__tablist li button {
	@apply p-3 m-[1px] hover:underline w-full text-left;
}
.azure-nav-tabs-content {
	@apply ml-10;
}
.tab-buttons.active {
	@apply border border-dashed border-black;
}
.azure-nav-tabs-content__panel {
	@apply hidden pt-5  bg-slate-50;
}
.azure-nav-tabs-content__panel_heading {
	@apply ml-5 mb-5;
}
.azure-nav-tabs-content__panel_heading h2 {
	@apply mb-[9px] leading-none text-lg;
}
.azure-nav-tabs-content__panel_heading p {
	@apply my-3 text-sm;
}
.azure-nav-tabs-content__panel.active {
	@apply block;
}
.azure-nav-tabs-section-content__panel {
	@apply hidden pt-0  bg-slate-50;
}
.azure-nav-tabs-section-content__panel.active {
	@apply block;
}
.azure-nav-expand__list__gutters {
	@apply grid grid-cols-4 mx-5;
}
.azure-nav-expand__list__gutters li {
	@apply mb-5 p-4;
}
.icon-size2 {
	@apply h-6 w-6;
}
/* Main Container*/
.wa-container {
	@apply w-full;
}
.hero-image-background {
	@apply bg-cover bg-[center] bg-[url('../hero-image.jpeg')] w-full h-[650px] pt-[72px] pb-[280px];
}
.row {
	@apply mx-[65px];
}
.hero-content-grid {
	@apply grid grid-rows-3 w-1/2 px-[15px] grid-flow-row;
}
.super-text {
	@apply text-[54px] text-[#1a1a1f] font-semibold leading-[1.2];
}
.body-text {
	@apply text-[18px] font-normal leading-[1.3] mt-3 text-[#4c4c51];
}
.list-horizontal {
	@apply flex flex-row;
}
.button {
	@apply w-auto;
}
/* Navigation Search Form*/
.azure-nav-search-form {
	@apply mb-2;
}
.search-form-field {
	@apply flex w-[120px] mr-6;
}
.search-form-field.expand {
	@apply flex w-[600px] mr-6 -top-4;
}
.nav-search-field {
	@apply outline-none border border-[#747479] rounded focus:border focus:border-black min-h-[32px] w-full bg-[#f8f9fa] text-[13px] text-[#4c4c51] pl-3 pr-6;
}
.nav-search-button {
	@apply relative w-4 h-4 right-[21px] top-[7px] -translate-x-2;
}
.nav-search-button.expand {
	@apply relative w-4 h-4 right-11 top-[7px] -translate-x-2;
}
.nav-close-button {
	@apply hidden opacity-0 transition-opacity duration-200;
}
.nav-close-button.expand {
	@apply block relative opacity-100 w-8 h-8 right-[42px] -top-[1px] transition-opacity duration-200;
}
/*section2 */
.section {
	@apply p-0;
}
.azure-nav-tabs__sectiontablist {
	@apply block w-60;
}
/* .azure-nav-tabs__sectiontablist li > button {
// 	@apply block w-full no-underline bg-transparent text-[#4c4c51] text-left text-base -ml-[3px] p-3 hover:text-[#0062ad];
// }*/
.azure-nav-tabs__sectiontablist > .sectiontab-buttons {
	@apply block  w-full -mx-[3px] mb-3 text-[#4c4c51] text-left text-base border-l-4 border-transparent  active:outline-offset-2 active:outline-2 active:outline-black;
}
.azure-nav-tabs__sectiontablist > .sectiontab-buttons > button {
	@apply hover:underline hover:text-[#0062ad] w-full p-3 text-left;
}
.sectiontab-buttons.azure-nav-tabs__tab {
	@apply focus-visible:outline-offset-2;
}
.azure-nav-tabs__sectiontablist > .sectiontab-buttons.active {
	@apply outline-none   text-[#1a1a1f] font-extrabold  focus:outline-1 focus-visible:outline-offset-2 transition-all duration-200 delay-1000 ease-in-out;
}
.azure-nav-tabs__sectiontablist > .sectiontab-buttons.active > button {
	@apply hover:underline hover:cursor-pointer hover:!text-[#1a1a1f] border-l-4 border-blue-900;
}
.azure-nav-tabs__tab:focus {
	outline: 2px solid black;
	outline-offset: 2px;
}
/* Customer Tabs*/
.azure-customer-tabs-contentlist {
	@apply flex flex-row flex-nowrap items-center content-center justify-center;
}
.azure-customer-tabs {
	@apply w-[150px] m-3 align-middle bg-transparent hover:bg-[#eaebec];
}
/* .azure-customer-tabs-content_panel {
// 	@apply bg-[url('../customer_image/')];
// }*/
.azure-customer-tabs-content_panel {
	@apply h-[700px];
}
.azure-customer-tabs-content_panel .active {
	@apply block h-[700px];
}
.azure-customer-tabs-content_panel > #nhs {
	@apply h-full w-full bg-[url('../customer_image/nhs-desktop.webp')] bg-contain;
}
.azure-customer-tabs-content_items {
	@apply hidden;
}
.azure-customer-tabs-content_items.active {
	@apply block;
}
